@model HeroesArenaWebsite.Web.ViewModels.Post.DeletePostViewModel

    <div class="container body-content">
        @if (Context.User.Identity.IsAuthenticated || Context.User.IsInRole("Administrator"))
        {
            <div class="row sectionHeader">
                <div class="sectionHeading">Delete Post || Are you sure you would like to delete this post?</div>
            </div>
            <div class="container body-content">
                <div class="row" id="postIndexContent">
                    <div class="col-md-3 postAuthorContainer">
                        <div class="postAuthorImage" style="background-image: url(@Model.AuthorImageUrl); background-size: 100%;"></div>
                        <a asp-controller="Profiles" asp-action="Detail" asp-route-id="@Model.AuthorId">
                            <strong>@Model.AuthorName</strong>
                        </a> (<span class="postAuthorRating">@Model.AuthorRating</span>) <br />
                        <span class="postDate">@Model.CreatedOn</span>
                        @if (@Model.IsAuthorAdmin)
                        {
                            <span class="isAdmin smaller">Admin</span>
                        }
                    </div>
                    <div class="col-md-9 postContentContainer">
                        <div class="postContent">
                            @Html.Raw(@Model.PostContent)
                        </div>
                    </div>
                </div>
            </div>

            <div class="deletePost">
                <a asp-controller="Posts" asp-action="ConfirmDelete" asp-route-id="@Model.PostId" onclick="return confirm('Are you sure you want to delete this post?')" id="deleteButton" class="btn btn-lg btn-danger">Confirm Delete</a>
                @*<button id="deleteButton" class="btn btn-lg btn-danger">Confirm Delete</button>*@
            <a asp-controller="Forums" asp-action="Topic" asp-route-id="@Model.ForumId" class="btn btn-lg btn-default">Cancel</a>
                @*<button id="deleteButton" class="btn btn-lg btn-default">Cancel</button>*@
            </div>
        }
    </div>

