@model HeroesArenaWebsite.Web.ViewModels.Post.PostIndexViewModel

<div class="container body-content">
    <div class="row postHeader">
        <div class="postHeading">
            <span class="postIndexTitle">
                @Model.Title
            </span>
            <br /><br />
            <span id="headingBackBtn">
                <a asp-controller="Forums" asp-action="Topic" asp-route-id="@Model.ForumId" class="btn btn-back">Back to @Model.ForumName</a>
            </span>
            <br /><br />
            @if (Context.User.Identity.IsAuthenticated)
            {
                <div class="row" id="replyRow">
                    <span><a asp-controller="PostReplies" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-newReply">Post Reply</a></span>
                </div>
            }

        </div>
    </div>


    <div class="row" id="postIndexContent">
        <div class="col-md-3 postAuthorContainer">
            <div class="postAuthorImage" style="background-image: url(@Model.AuthorImageUrl); background-size: 100%;"></div>
            <a asp-controller="Profiles" asp-action="Detail" asp-route-id="@Model.AuthorId">
                <strong>@Model.AuthorName</strong>
            </a> (<span class="postAuthorRating">@Model.AuthorRating</span>) <br />
            <span class="postDate">@Model.CreatedOn</span>
            @if (@Model.IsAuthorAdmin)
            {
                <span class="isAdmin smaller">Admin</span>
            }
        </div>
        <div class="col-md-9 postContentContainer">
            <div class="postContent">
                @Html.Raw(@Model.PostContent)
            </div>
            @if (Context.User.Identity.IsAuthenticated)
            {
        <div class="btn-holder">
            <div style="text-align: right">
                <a asp-controller="Posts" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-newReply">Edit Post</a>
            </div>
            <br />
            <div style="text-align: right">
                <a asp-controller="Posts" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-deletePost">Delete Post</a>
            </div>
        </div>
            }
        </div>
    </div>

    @if (Model.Replies.Any())
    {
        foreach (var reply in Model.Replies)
        {
            <div class="row" id="postReplyIndexContent">
                <div class="col-md-3 replyAuthorContainer">
                    <div class="postAuthorImage" style="background-image: url(@reply.AuthorImageUrl); background-size: 100%;"></div>
                    <a asp-controller="Profiles" asp-action="Detail" asp-route-id="@reply.AuthorId">
                        <strong>@reply.AuthorName</strong>
                    </a> (<span class="postAuthorRating">@reply.AuthorRating</span>) <br />
                    @if (@reply.IsAuthorAdmin)
                    {
                        <div class="isAdmin profileLabel smaller">Admin</div>
                        <br />
                    }
                    <span class="postDate">@reply.CreatedOn</span>
                </div>
                <div class="col-md-9 replyContentContainer">
                    <div class="postContent">
                        @Html.Raw(@reply.ReplyContent)
                        @*@if (Context.User.Identity.IsAuthenticated)
                            {
                                <div>
                                    <span><a asp-controller="PostReplies" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-newReply">Post Reply</a></span>
                                </div>
                            }*@
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="noPosts">
            <h3>
                There are no replies to this post.<br />
            </h3>
        </div>
    }
</div>
